:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Libre Franklin", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 25px;
  }
  .ikon-bilder {
    height: 60px;
    
  }
  .section2 {
    display: flex;

    justify-content: space-between;
  }
  .links li {
    display: inline-block;
    margin-right: 20px;
  }
  .links {
    margin-right: 10%;
  }
  .container h1{
    padding-left: 5%;
    padding-right: 5%;
    color: white;
  }
  .container-tickets h1{
    color: white;
  }
  .container {
      margin: 10px;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "header header header"
      "forsidebilde forsidebilde2 forsidebilde3"
      "content1 content2 content3"
      "content4 content5 content6"
      "footer footer footer";
    grid-gap: 0.5rem;

    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  .container-tickets {
    margin: 10px;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 0.5fr;
  grid-template-areas:
    "header header header"
    "content-tickets1 content-tickets2 content-tickets3"
    "content-tickets1 content-tickets2 content-tickets3"
    "content-tickets4 content-tickets5 content-tickets3"
    "footer footer footer";
  grid-gap: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
.container-gal {
  margin: 10px;
display: grid;
grid-template-columns: 2fr 2fr 1fr;
grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr;
grid-template-areas:
  "header header header"
  "content-gallery content-gallery content-gallery"
  "content-gallery content-gallery content-gallery"
  "content-gallery content-gallery content-gallery"
  "footer footer footer";
text-transform: uppercase;
text-align: center;
justify-content: center;
}

  .forsidebilde {
      max-height: 500px;
  }
  .forsidebilde {
    max-height: 500px;
    width: 100%;
  }
  .forsidebilde2 {
    max-height: 500px;
    width: 100%;
}
.forsidebilde3 {

    max-height: 500px;
;
    width: 100%;
}
.forsidebilde4 {
    max-height: 500px;
    width: 100%;
}
  nav {
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }


  
  #header {

    text-align: left;
    background: #ffffff;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #content1 {
    min-height: 191px;
    background-color: #86528B;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content2 {
    min-height: 191px;
    background-color: #2878C8;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #content3 {
    min-height: 191px;
    background-color: #F75C9A;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #content4 {
    min-height: 191px;
    background-color: #FFCC01;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #content5 {
    min-height: 191px;
    background-color: #26A698;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #content6 {
    min-height: 191px;
    background-color: #ffffff;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }

  #footer {
    background: #64ffda;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }


  #content-tickets1 {
    min-height: 191px;
    background-color: #86528B;
    grid-area: content-tickets1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-left: 20%;
  }
  
  #content-tickets2 {
    min-height: 191px;
    background-color: #2878C8;
    grid-area: content-tickets2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);


  }
  #content-tickets3 {
    min-height: 191px;
    background-color: #F75C9A;
    grid-area: content-tickets3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-right: 20%;
  }
  #content-tickets4 {
    min-height: 191px;
    background-color: #FFCC01;
    grid-area: content-tickets4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-left: 20%;
  }
  #content-tickets5 {
    min-height: 191px;
    background-color: #26A698;
    grid-area: content-tickets5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #content-tickets6 {
    min-height: 191px;
    background-color: #ffffff;
    grid-area: content-tickets6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #content-gallery {
    grid-area: content-gallery;
  }

  nav {
    display: none;
  }
  
  #hamburger-menu{
    display: none;
  }
  
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .menu-icon {
    display: none;
  }

.con {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
   }
   #content-tickets2 p{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .button {
    background-color: #1CBCB2;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
  }
  .container-galary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  
  .container-galary .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container-galary .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container-galary .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
   @media only screen and (max-width: 1100px) {
    #content-tickets1 {
      margin-left: 0%;
    }
    #content-tickets3 {
      margin-right: 0%;
    }
    #content-tickets4 {
      margin-left: 0%;
    }
  @media only screen and (max-width: 750px) {
    .links li {
      display: none;
    }
    .con {
      margin-top: -20px;
    }
       .menu-icon{
        display:block;
      }
      .forsidebilde2 {
          display: none;
      }
      .forsidebilde3 {
        display: none;
    }
    .forsidebilde {

            height: 100%;
            width: 100%;
      
    }
    #content6 {
        display: none;
    }
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1.4fr 2.2fr 2.2fr 2.2fr 2.2fr 1fr;
      grid-template-areas:
        "header"
        "forsidebilde"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"

        "footer";
        
    }
    .container-tickets {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1.4fr 2.2fr 2.2fr 2.2fr 2.2fr 1fr;
      grid-template-areas:
        "header"
        "content-tickets1"
        "content-tickets2"
        "content-tickets4"
        "content-tickets3"
        "content-tickets5"

        "footer";
  }
  .container-galary .box{
    flex-direction: column;
   }
  
  .container-galary .box .dream{
   width: 100%;
  }