body {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.container {
  margin-left: 14.4%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 {
  display: flex;
  align-items: center;
  margin-right: 14.4%;
  font-size: 10px;
  font-weight: 400;
}
.meny {
  padding: 5px 15px;
  font-size: 18px;
}

a:link {
  text-decoration: none;

}
a:active {
  text-decoration: underline;
}
#galarytext{
  color: aqua;
}
.master-container {
  display: flex;
  padding-left: 14.4%;
  padding-right: 14.4%;
 

}
.master-container p {
  color: black;
}

.Astronaut1 {
  max-height: 361px;
  flex: 2 1 0;

}
.Astronaut2 {

  max-height: 361px;
  flex: 2 1 0;
}
.Astronaut3 {
  max-height: 361px;
  flex: 1 1 0;
}
.Astronaut4 {

  max-height: 361px;
  flex: 1 1 0;
}
.master-container p {
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
.display {
  display:none;
}
.flex-items {
  width: 260px;
  margin: 10px;
 
}
.block {

  min-height: 191px;
  background-color: #86528B;
  flex: 2 1 0;

}
.block2 {
  min-height: 191px;
  background-color: #2878C8;
  flex: 2 1 0;

}
.block3 {
  min-height: 191px;
  background-color: #F75C9A;
  
  flex: 1 1 0;
}
.block4 {
  min-height: 191px;
  background-color: #EA001B;
  flex: 1 1 0;

}
.block5 {
  min-height: 191px;
  background-color: #FFCC01;
  flex: 2 1 0;

}
.block6 {
  min-height: 191px;
  background-color: #26A698;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.block7 {
  min-height: 191px;
  background-color: #ffffff;
  flex: 1 1 0;

}
.block8 {
  min-height: 191px;
  background-color: #F75C9A;
  flex: 1 1 0;

}
.block9 {
  min-height: 191px;
  background-color: #26A698;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.exhibition p {
  font-weight: 400;
  font-size: 13;
}
.exhibition h1 {
  font-weight: 900;
  font-size: 25;
}
.exhibition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.exhibition-container p{
  text-align: left;

}
.flex-exhibition {
  width: 50%;
}
.exhibition-width {
  width: 50%;
}
.ikon-bilder {
  height: 60px;
}
.twitter {
  padding-top: 5px;
}
#color-evolution {
  color:#2878C8 ;
}
#color-biology {
  color: #86528B;
}
#color-robotics {
  color: #EA001B;
}
#color-ecology {
  color: #26A698;
}

.container-galary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}


.container-galary .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container-galary .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container-galary .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.forsidebilde-i-m {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

nav {
  display: none;
}

#hamburger-menu{
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
.menu-icon {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .section2 {
    display: none;
  }
  .menu-icon{
    display:block;
    padding-right: 14.4%;
  }
  .master-container {

    padding-left: 0%;
    padding-right: 0%;
    align-items: center;
  }
  .block3 {
    display: none;
  }
  .block7 {
    display: none;
  }
  .display {
    display: flex;
  }
  .block6 {
    display: none;
  }
  .block5 {
    flex: 1 1 0;
  }
  .flex-exhibition {
    width: 70%;
}
.Astronaut2 {
  display: none;
}
.Astronaut1{
  display: none;
}
.Astronaut4{
  display: none;
}
.forsidebilde-i-m {
  display: block;
}
.container-galary .box{
  flex-direction: column;
 }

.container-galary .box .dream{
 width: 100%;
}
.container {
  margin-left: 5%;

}
.flex-items {
  width: 10%;
}
@media only screen and (max-width: 620px) {

  .forsidebilde {
    margin-top: 0%;
  }
  .master-container {
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
    align-items: center;
  }
  .flex-items {
    width: 90%;
  }
  .container {
    margin-left: 5%;

  }
  .flex-exhibition {
    width: 90%;
  }

}

